{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}


{% set challenge_listing_classes = [
    "col-xs-12",
    rows|length == 1 ? "col-md-12",
    rows|length == 2 ? "col-md-6",
    rows|length >= 3 ? "col-md-4",
    "challenge-item--container"
    ]
%}

<div class="container">
    <div class="row">
        {% for row in rows %}
            <div {{attributes.addClass(challenge_listing_classes)}}>{{ row.content }}</div>
        {% endfor %}
    </div>
</div>

