.pcocp-container {
	background-color: #ffffff !important;
}

.form-link {
  color: #007897 !important;

  &:hover {
    color: darken(#007897, 10) !important;
  }
}

.form-control {
  border: 2px solid #000000 !important;
}

label {
  display: none;
}

.alert {
	h4, h5 {
		margin-left: 0px !important;
	}
}

.alert-warning > :first-child::before {
	content: none !important;
}

.alert-danger > :first-child::before {
	content: none !important;
}

.alert-success > :first-child::before {
	content: none !important;
}

.alert-danger {
  background-color: transparent;
  padding: none;
  padding-top: 3px;
  padding-bottom: 3px;
  border-left: thick solid #DD3030 !important;
  padding-left: 10px;
  color: #DD3030;
  font-weight: 300;
  //display: none;

  &:first-child {
    display: block !important;
  }

  ul {
    display: none;
  }
}

.alert-danger-list {
  background: #FFE6E6 !important;;
  border-color: #d3080c !important;
  padding: 15px !important;
  display: none;

  ul {
    display: block !important;
    color: black;

    li {
      a {
        color: black;
      }
    }
  }
}

.alert-success {
  background-color: transparent;
  padding: none;
  border-left: thick solid #77b259 !important;
  padding-left: 10px;
  color: green;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: 300;
  //display: none;

  ul {
    display: none;
  }
}

.alert-success-list {
  background: #d8eeca;
  border-color: #278400;
  padding: 15px !important;
  //display: none;

  ul {
    display: block !important;
  }
}

input, textarea, select {
	border-radius: 0px !important;
  box-shadow: none !important;
  border: 2px solid #000000;
  background-color: transparent;

  &:focus {
    border: 2px solid #007897 !important;
  }
}

.form-file {
	background-color: transparent !important;
	border: none !important;
	overflow: visible !important;
}

.form-submit {
	border-radius: 0px !important;
	border: none !important;
}

.input-error-desc {
	color: #DD3030 !important;
}

input {
  &.error {
    border: 2px solid #DD3030 !important;
  }
}

.group-error {
  border-left: thick solid #DD3030 !important;
  padding-left: 10px;
  position: relative;
  margin-left: -15px;

  input {
    border-color: #DD3030 !important;
  }
}

.group-error-description {
  color: #DD3030;
  margin-top: 8px;
  font-weight: 300;
}


.checkbox {
  display: inline-block;

  input[type="checkbox"] {
    position: relative;
    margin-left: 0px;
  }
}


span {
  &.file {
    margin-top:30px;
    font-size: 95%;
    padding-bottom: 8px;
    border-right: 0px;
    display: inline;
    width: 100%;

    .file-icon {
      display: none;
    }

    .file-link {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: none;
      background-color: transparent;
      padding-left: 32px;
      padding-top: 5px;
      width: 475px;

      a {
        color: black;
        font-weight: 900;
        text-decoration: none;
      }
    }

    .file-size {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: none;
      display: none;
      background-color: transparent;

    }
  }

  &.file--image {
    margin-top: 30px;
    font-size: 95%;
    padding-bottom: 0px;
    border-right: 0px;
    display: inline;
    width: 485px;
    margin-bottom: 20px;
    display: inline-block;

    .file-icon {
      display: none;
    }

    .file-link {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: none;
      background-color: transparent;
      padding-left: 0px;
      width: 475px;

      a {
        color: black;
        font-weight: 900;
        text-decoration: none;
      }
    }

    .file-size {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: none;
      display: none;
      background-color: transparent;

    }
  }
}

.checkbox label {
  padding-left: 0px;
  margin: 15px 0px 15px 0px;
  width: 100%;

  input[type="checkbox"] {
    position: absolute;
    margin-left: 0px;
  }
}

.btn-danger {
  display: block;
  font-weight: 400;
  background-color: transparent !important;
  color: black;

  &:hover {
    background-color: transparent;
    font-weight: 700;
    color: black;
  }

  &:nth-child(2) {
    margin-top: 20px
  }
}

.form-managed-file {
  .form-group {
    .alert {
      display: hidden !important;
    }
  }
}

.btn-submit {
  background-color: #007897 !important;
  padding: 10px 25px 10px 25px;
  font-weight: 400;
  font-size: 23px;
}

.btn-submit-feedback {
  background-color: #E4C867 !important;
  padding: 8px 50px 8px 50px;
  font-weight: 400;
  font-size: 19px;
  color: black;
}

.word-count {
  font-size: 12px;
  padding: 5px;
  float: right;
  color: #666666;
  position: absolute;
  right: 15px;
}

::-webkit-file-upload-button {
  border: 2px solid black;
  padding: 5px 8px 5px 8px !important;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Styling checkbox */
  width: 25px;
  height: 25px;
  background-color: white;
  color: black !important;
}

input[type="checkbox"]:checked:after {
  content: '×';
  font-size: 47px;
  color: #333 !important;
  text-align: center;
  position: absolute;
  margin: -14px 0px 0px -5px;
  -webkit-margin-before: -20px;
  font-weight: 300;
}

input[type="checkbox"].required::before {
  content: none !important;
}
